.PostList{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.Post img {
  max-width: 100%;
}

.Post iframe {
  max-width: 100%;
}

.Post {
  margin-top: 5px;
  margin-bottom: 5px;
}

.PostHeadWrapper {
  display: flex;
}

.PostHead {
  max-width: 420px;
  margin:auto;
}

.PostHead.Open {
  max-width: 100%;
  margin:auto;
  transition: max-width 0.5s;
}

.PostBody {
  border: solid black;
  border-width: medium;
  width: 720px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.Post.Open {
}

.TumblrPhotoTitle img {
  margin: auto;
  display: block;
}

.Caption {
  padding: 1em;
}