.PostList{
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.Post img {
  max-width: 100%;
}

.Post iframe {
  max-width: 100%;
}

.Post {
  max-width: 420px;
  margin: auto;
  border: solid black;
  border-width: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Post.Open {
  width: 100%;
  max-width: none;
  border: none;
}

.TumblrPhotoTitle img {
  margin: auto;
  display: block;
}

.Caption {
  padding: 1em;
}